/*GENERAL*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body,
html {
  font-size: 14px;
  font-family: 'arial', sans-serif;
}

body {
    background-color: rgb(50, 50, 52);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.main {
  margin: 2rem 0;
  min-width: 90%;
  min-height: 30rem;
  background-color: #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 0;
  font-family: Ubuntu, sans-serif;
  color: rgb(150, 200, 150); 
  text-shadow: 1px 1px  #383838;
  font-size: 2rem;
}

.presentation {
  color: rgb(150, 200, 150); 
  font-size: 1.20rem;
  text-align: center;
}


/*FORMS*/

.forms {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 80%;
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2rem;
  border: 1px solid #404040;
  box-shadow: 0 4px 8px 0 #393939, 0 6px 20px 0 #393939;
  border-radius: 3px;
}

.label {
  display: flex;
  flex-direction: column;
  color: #DDD;
}

.users-connection {
  display: block;
  width: 100%;
  padding: .5rem 1px;
  margin-top: 0;
  border-radius: 2px;
  background: rgb(50, 50, 50);
  white-space: nowrap;
  font-size: 1.6rem;
  color: rgb(150, 200, 150);
  text-shadow: 2px 2px  rgb(40, 40, 40);
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

input {
  height: 2rem;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

  input::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.15rem;
    color: rgb(180,180,180);
    font-weight: normal;
  }
  input::-moz-placeholder {
    text-align: center;
    font-size: 1.15rem;
    color: rgb(180,180,180);
    font-weight: normal;
  }
  input:-ms-input-placeholder {
    text-align: center;
    font-size: 1.15rem;
    color: rgb(180,180,180);
    font-weight: normal;
  }
  input:-moz-placeholder {
    text-align: center;
    font-size: 1.15rem;
    color: rgb(180,180,180);
    font-weight: normal;
  }

.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 3rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: normal;
  white-space: pre-wrap;
}

/*Chat*/

.chat {
  width: 100%;
  height: auto;
  background-color: grey;
  color: black;
}
.messages {
  list-style: none;
}
.user-name {
  font-size: 1.5rem;
  color: rgb(150, 200, 150); 
}

.user-message {
  font-size: 1.5rem; 
}

/*RESPONSIVE*/

@media screen and (min-width: 768px)  {
  body,
  html {
  font-size: 16px;
  }
  .forms {
    margin-top: 2rem;

  }
  .form {
    width: 40%;
    margin: 2rem 0;
}
@media screen and (min-width: 1024px) {
  
  }

}