/*GENERAL*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  box-sizing: border-box;
}
a {
  color: #424242;
}
body,
html {
  font-size: 14px;
  font-family: 'arial', sans-serif;
}
html {
  height: 100%;

}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(50, 50, 52);
}
.header {
  background-color: rgb(150, 200, 150); 
}

.footer {
  display: flex;
  justify-content: center;
  max-height: 5rem;
  width: 100%;
  background-color: rgb(150, 200, 150); 
}

.main {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 30rem;
  background-color: #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.title {
  margin-bottom: 0;
  font-family: Ubuntu, sans-serif;
  color: rgb(150, 200, 150); 
  text-shadow: 1px 1px  #383838;
  font-size: 2rem;
}

.presentation {
  color: rgb(150, 200, 150); 
  font-size: 1.20rem;
  text-align: center;
}


/*FORMS*/

.forms {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  width: 100%;
  margin: 2rem;
  border: 1px solid #404040;
  box-shadow: 0 4px 8px 0 #393939, 0 6px 20px 0 #393939;
  border-radius: 3px;
}

.label {
  display: flex;
  flex-direction: column;
  color: #DDD;
}

.users-connection {
  display: block;
  width: 100%;
  padding: .5rem 1px;
  margin-top: 0;
  border-radius: 2px;
  background: rgb(50, 50, 50);
  white-space: nowrap;
  font-size: 1.6rem;
  color: rgb(150, 200, 150);
  text-shadow: 2px 2px  rgb(40, 40, 40);
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

input {
  height: 2rem;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

  input::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.15rem;
    color: rgb(180,180,180);
    font-weight: normal;
  }
  input::-moz-placeholder {
    text-align: center;
    font-size: 1.15rem;
    color: rgb(180,180,180);
    font-weight: normal;
  }
  input:-ms-input-placeholder {
    text-align: center;
    font-size: 1.15rem;
    color: rgb(180,180,180);
    font-weight: normal;
  }
  input:-moz-placeholder {
    text-align: center;
    font-size: 1.15rem;
    color: rgb(180,180,180);
    font-weight: normal;
  }

.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 3rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: normal;
  white-space: pre-wrap;
}



/*CHAT*/

/*Icons logout & connected users*/
.icons {
  display: flex;
  justify-content: space-between;
}
.icon {
  margin-bottom: .5rem; 
  padding: .5rem;
  border-radius: 3px;
}
.iconUserConnect {
    position: relative;
}
.iconUserConnect:active,
.iconUserConnect:hover {
  background-color: rgb(150, 200, 150);
}

.iconUserConnect:hover .numberUsersConnected,
.iconUserConnect:focus .numberUsersConnected,
.iconUserConnect:active .numberUsersConnected {
  color: white;
}
.iconlogout:hover {
  background-color: rgb(200, 150, 150);
  padding: .5rem;
}


.numberUsersConnected {
  text-shadow: 1px 1px  #383838;
  font-size: 2.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 44;
  color:rgb(150, 200, 150);
}

.connectedUsersDiv {
  position: relative;
  left: 0;
  top: 0;
  width: 50%;
  height: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color:rgba(50, 50, 52, 1);
  color: grey;
}



.usersConnectedList {
  padding-left: .5rem;
}

.userConnected {
  color:rgb(150, 200, 150);
  list-style: none;
  margin: .5rem 0;
}
/*Fin section connecion*/

.chat {
  max-width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 3px;
  background-color: grey;
  color: black;
}

.windowChat {
  height: 50vh;
  overflow: auto;
  max-width: 100%;
  border-radius: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.messages {
  list-style: none;
  overflow-wrap: break-word;
  height: auto; /*prevent Safari problem*/
}

.message {
  margin: .5rem 0;
}

.user-name,
.user-message {
  font-size: 1.25rem;
  font-weight: bold;
}

.user-name {
  color: rgb(150, 200, 150); 
}

.user-message {
  color: black;
}

.formPostMessage {
  display: flex;
  justify-content: space-between;
}
.fieldPostMessage {
  width: 80%;
  margin-right: .5rem;
}
.sendMessageButton {
}

/*RESPONSIVE*/

@media screen and (min-width: 768px)  {
  body,
  html {
  font-size: 16px;
  }
  .main {
  margin:2rem 0 ;
  width: 90%;
  height: auto;
  }
  .forms {
    margin-top: 2rem;
  }
  .form {
    width: 40%;
    margin: 2rem 0;
  }
  .chat {
    width: 50%;
  }
  .windowChat {
    width: 100%;
  }
@media screen and (min-width: 1024px) {
  
  }

}