<!DOCTYPE html>
<html lang="en" ng-app="chatApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta description="Kwick is the easy way to chat with your classmates!">
    <title>Kwick!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>

<body>
    <main class="main">
        <h2 class="title">Kwick chat!</h2>
        <p class="presentation" ng-hide="isUserConnected">Kwick is the easy way to chat with all your classmates!</p>
        <connection-forms class="forms" ng-if="!isUserConnected"></connection-forms>
        <chat-feed class="chat" ng-if="isUserConnected"></chat-feed>
    </main>
    <footer class="footer">
        <a href="https://github.com/Yedrup/kwick-chat" alt="This project on Github" target="_blank"><i class="fa fa-github-square fa-5x" aria-hidden="true" ></i></a>
    </footer>
    <script src="node_modules/angular/angular.js"></script>
    <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>
    <script src="js/main.js"></script>
	<script src="js/user-ctrl.js"></script>
	<script src="js/chat-ctrl.js"></script>
</body>

</html>