
	<form id="Login" class="c-form" action="">
		<p class="c-users-connection">Sign Up</p>
		<label class="c-label">
	    	<input placeholder="Set a pseudo" class="c-input" type="text"></input>
	    </label>
	    <label class="c-label">
	     	<input type="password" placeholder="Set a password" class="c-input" value="" />
	    </label>            
	    <input type="submit" class="c-button-submit" value="Welcome!"/>
	</form>
	<!-- LOGIN -->
	<form id="Login" class="c-form" action="">
		<p class="c-users-connection">Log In</p>
		<label>
	    	<input placeholder="Your pseudo" class="c-input" type="text"></input>
	    </label>
	    <label class="c-label">
	      <input type="password" placeholder="Your password" class="c-input" value="" />
	    </label>
	    <input type="submit" class="c-button-submit" value="Welcome back!"/>
	</form>    	